.Signuppage {
  background-image: url('/img/bg-Signup.png');
  width: 100vw;
  height: 100vh;
  margin: 100;
  padding: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  /* align-content:center */
  /* flex-direction: column;  */
  justify-content: center;
}

.Boxcenter {
  display: flex;
  /* background-color: blueviolet; */
  /* opacity: 50%; */
  width: calc(100vw - 130px);
  height: calc(100vh - 650px);
  /* /* margin: 100px;                
  border-radius: 8px; */
}


.Boxitem {
  flex: 1;
  /* background-color: aqua; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 60px;

}


.TF-User,
.TF-Email,
.TF-fname,
.TF-lname,
.TF-phone,
.TF-address,
.TF-password,
.TF-CFpassword {
  width: 35%;
  height: 20px;
  /* border-radius: 50px ; */
  /* background-color: aqua; */

}


.TF-User .MuiOutlinedInput-root,
.TF-Email .MuiOutlinedInput-root,
.TF-fname .MuiOutlinedInput-root,
.TF-lname .MuiOutlinedInput-root,
.TF-phone .MuiOutlinedInput-root,
.TF-address .MuiOutlinedInput-root,
.TF-password .MuiOutlinedInput-root,
.TF-CFpassword .MuiOutlinedInput-root {
  border-radius: 20px;
  /* border: solid 4px black; */
  background-color: rgb(224, 224, 224);

}

div.noaccount {
  display: flex;
}

a.Noaccount {
  color: dimgray;
}

a.Login {
  color: #547616;
}

p.line {
  color: #547616;
  display: 'flex';
  text-align: center;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.gpbutton {
  gap: 20px;
  flex-direction: column;
  text-align: center;
}

div.err {
  height: 50px;
  text-align: center;
}

/* 
.inpurbox{
  margin: 20px;
}
*/


/*   
.TF-password .MuiInputLabel-root {
  border-radius: 20px;
} */
/*   
.TF-password .MuiIconButton-root {
  border-radius: 50%;
} */
 /* .Boxitem{
  background-color: #8a0000;
 } */